html,body{background:#ECECEC !important;}

.cwierknij{padding-bottom:10px;margin-bottom:10px;}
.cwierknij-textarea{margin-bottom:5px;}
.cwierknij-btn{float:right;}

.cwierknij-cwierk{}
.cwierknij-cwierk .kto{}
.cwierknij-cwierk .data{float:right;}
.cwierknij-cwierk .tresc{}

.szukaj-profilu{margin-bottom: 0;}
.szukaj-profilu .sledz{float:right;}

.clear{clear:both;}